<ion-header>
  <ion-navbar>
     
     <button end ion-button icon-only menuToggle [navPush]="settingsPage" [navParams]="settings">
      <ion-icon name="settings"></ion-icon>
    </button>
    <ion-title>
      Shopping List  <ion-icon name="cart"></ion-icon>
    </ion-title>
    
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-icon name="add-circle" class="addIcon" (click)="addItem()"></ion-icon>

  <ion-list>
  <ion-item *ngFor="let item of items; let i = index; trackBy: trackByFn">
    <ion-input *ngIf="item == ''" placeholder="Add your item here" [(ngModel)]="currentItem"></ion-input>
    <ion-label *ngIf="item != ''" class="itemInput" (click)="removeItem(item, i)">{{item}}</ion-label>
    
    <ion-icon *ngIf="item == ''" name="add-circle" item-right class="listIcon" (click)="confirmItem(currentItem)"></ion-icon>
    <ion-icon *ngIf="item == ''" name="undo" item-right class="listIcon" (click)="undoItem(currentItem)"></ion-icon>
    
    <ion-icon *ngIf="item != ''" name="close" item-right class="listIcon" (click)="removeItem(item, i)"></ion-icon>
    <ion-icon *ngIf="item != ''" name="trash" item-right class="listIcon" (click)="deleteItem(item, i)"></ion-icon>
  </ion-item>

  <ion-item *ngFor="let item of itemsCrossed; let i = index; trackBy: trackByFn">
    <ion-label class="itemInputCrossed" (click)="undoCrossedItem(item, i)">{{item}}</ion-label>
  </ion-item>
</ion-list>

<ion-card>
  <ion-card-header>
    Debug Info
  </ion-card-header>
  <ion-card-content>
    <ion-label>sortAlphabetical = {{settings.sortAlphabetical}}</ion-label>
    <ion-label>useHintsAndNotifications = {{settings.useHintsAndNotifications}}</ion-label>
    <ion-label>useLogin = {{settings.useLogin}}</ion-label>
    <ion-label>userName = {{settings.userName}}</ion-label>
    <ion-label>userPassword = {{settings.userPassword}}</ion-label>


  </ion-card-content>
</ion-card>
